html, body {
    height: auto;
}
html {
    scroll-behavior: smooth;
}
#wrapper{
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 19px;
    background: url("images/tree.jpg");
    background-size: cover;
    height: 1400px;
    overflow: hidden;
    width: 100%;
}
#aboutwrapper{
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 19px;
    background: url("images/tree.jpg");
    background-size: cover;
    height: 1370px;
    overflow: hidden;
    width: 100%;
}
#nav{
    background: rgba(255, 255, 255, 0.9);
}
#content{
    text-align: center;
    margin-top: 23%;
    background: rgba(255, 255, 255, 0.8);
    height: 500px;
}
#logoimage{
    margin-top: 40px;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;

}
#welcomeheader{
    margin-top: 20%;
    text-align: center;
    font-weight: bold;
}
#welcomeheadwrapper{
    width: 55%;
    height: 50px;
    background: rgba(255, 255, 255, 0.4 );
    margin-top: 19%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: white;
    border-top: .05rem solid #e5e5e5;
}

#facebookicon {
    height: 35px;
    width: 35px;
    margin-right: auto;
    margin-left: auto;

}
#instagramicon {
    height: 35px;
    width: 35px;
    margin-right: auto;
    margin-left: auto;
}
#snapchaticon {
    height: 35px;
    width: 35px;
    margin-right: auto;
    margin-left: auto;
}
#linkedinicon {
    height: 35px;
    width: 35px;
    margin-right: auto;
    margin-left: auto;
}
#contentbutton{
    margin-top: 8%;
    margin-left: 44.5%;
    width: 140px;
}
#faqheaderwrapper{
    background: rgba(255, 255, 255, 0.4);
    width: 140px;
    height: 84px;
    margin-top: 18%;
    margin-right: auto;
    margin-left: auto;
}
#faqwrapper{
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    margin-top: 24%;
    height: 700px;
    text-align: center;
}
#faqheader{
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
}
#storeheaderwrapper{
    background: rgba(255, 255, 255, 0.4);
    width: 55%;
    margin-top: 17%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
#storeheader{
    font-size: 80px;
    text-align: center;
    font-weight: bolder;
    margin-top: 15%;
}
#formwrapper{
    width: 53%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
}

#contactusheader{
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}
#contactusheaderwrapper{
    background: rgba(255, 255, 255, 0.6);
    width: 55%;
    margin-top: 10%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
#submitform{
    margin-left: 37%;
    margin-top: 3%;
}
@media screen and (max-width: 700px){
    #contactusheader{
        font-size: 30px;
    }
    #formwrapper{
        width: 70%;
    }
    #submitform{
        margin-left: 23%;
    }
    #storeheader{
        font-size: 30px;
    }
    #storeheaderwrapper{
        margin-top: 50%;
    }
    #faqheader{
        font-size: 30px;
    }
    #faqheaderwrapper{
        height: 5%;
        width: 20%;
        margin-top: 10%;
    }
    #faqwrapper{
        font-size: 12px;
        height: 73%;
        margin-top: 18%;
    }
    #aboutwrapper{
        height: 800px;
    }
    #welcomeheader{
        font-size: 20px;
    }
    #welcomeheadwrapper{
        margin-top: 35%;
    }
    #content{
        margin-top: 50%;
        font-size: 14px;
    }
    #logoimage{
        width: 80px;
        height: 80px;
    }
    #wrapper{
        height: 1150px;
    }
    #contentbutton{
        margin-left: 35%;
    }
}



